@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  line-height: normal;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.about > button, .footer .footer-btn {
  display: flex;
  background-color: #95e1d3;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-variant: all-small-caps;
  padding: 12px 38px;
  border: none;
  margin: 0 auto;
}

.menu .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7215686275);
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.83, -0.08, 0.32, 1) 300ms, visibility 600ms cubic-bezier(0.83, -0.08, 0.32, 1) 300ms;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.menu .backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.menu .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  /* width: 70%;
  height: 70%; */
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #ffffff;
  transition: opacity 500ms linear 1000ms;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.header .header-logo, .header .menu .modal .wrap-head, .menu .modal .header .wrap-head {
  color: #95e1d3;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.header .nav {
  display: none;
}
@media screen and (min-width: 480px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header .burger-menu {
    display: none;
  }
  .header .nav {
    display: flex;
  }
  .header .nav-list {
    display: flex;
    -moz-column-gap: 25px;
         column-gap: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #95e1d3;
  }
}
.menu .modal .wrap-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.menu .modal .nav-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #95e1d3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7215686275);
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.83, -0.08, 0.32, 1) 300ms, visibility 600ms cubic-bezier(0.83, -0.08, 0.32, 1) 300ms;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  /* width: 70%;
  height: 70%; */
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #ffffff;
  transition: opacity 500ms linear 1000ms;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.footer .copyright {
  text-align: center;
  margin-top: 20px;
}
.footer .footer-form {
  display: flex;
  height: 39px;
}
.footer .footer-form label {
  display: flex;
}
.footer input[placeholder="Your Email..."] {
  padding-left: 10px;
  color: #b6b6b6;
  /* text-align: center; */
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  border-color: #b6b6b6;
  border-right: none;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  outline: none;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .copyright {
    margin-top: 0;
  }
}
.work {
  margin-bottom: 50px;
}
.work .work-title {
  color: #95e1d3;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}
.work .work-subtitle {
  color: #333333;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  font-variant: all-small-caps;
}
.work .work-line {
  width: 60px;
  height: 4px;
  background-color: #f38181;
  margin: 0 auto;
  margin-bottom: 66px;
}
.work .work-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.work .work-image {
  width: 37px;
  height: 37px;
  margin: 0 auto;
}
.work .work-item-title {
  margin-bottom: 20px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  font-variant: small-caps;
  text-align: center;
}
.work .work-text {
  color: #b6b6b6;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .work .work-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }
  .work .work-item {
    flex-basis: calc((100% - 50px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .work .work-item {
    flex-basis: calc((100% - 70px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .work .work-item {
    flex-basis: calc((100% - 165px) / 4);
  }
}

.team {
  text-align: center;
  margin-bottom: 33px;
  /*7 ================== варіант 3 ===================== */
  /* .team-item:hover .team-img-wrap {
    overflow: visible;
  }
  .team-item:hover .social-list {
    left: 68px;
  } */
  /* .team-item:hover .team-img-wrap::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 10px;
    right: 10px;
    background-image: linear-gradient(
      180deg,
      rgba(239, 139, 138, 0.8) 0%,
      rgba(229, 207, 130, 0.8) 100%
    );
  } */
  /*3 =============== sociale list ================ */
}
.team .team-title {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 17px;
}
.team .team-subtitle {
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  font-variant: all-small-caps;
  margin-bottom: 36px;
}
.team .team-line {
  width: 60px;
  height: 4px;
  background-color: #f38181;
  margin: 0 auto;
  margin-bottom: 45px;
}
.team .team-subsription {
  color: #b6b6b6;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  padding: 0 10px;
  margin-bottom: 66px;
}
.team .team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.team .team-item {
  padding-bottom: 33px;
}
.team .team-img-wrap:hover .social-list {
  /*7 ================== варіант 1 ===================== */
  /* z-index: 5; */
  /*7 ================== варіант 2 ===================== */
  /* display: flex; */
  /*7 ================== варіант 3 ===================== */
  /* overflow */
  /*7 ================== варіант 4 ===================== */
  /* opacity: 1; */
  /*7 ================== варіант 5 ===================== */
  visibility: visible;
}
.team .team-image-subtext {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.5607843137);
  color: #ffffff;
}
.team .team-img-wrap {
  position: relative;
  overflow: hidden;
}
.team .team-img-wrap:hover::before {
  background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 10px;
  right: 10px;
}
.team .team-item-title {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  font-variant: all-small-caps;
  margin-top: 30px;
}
.team .team-text {
  color: #b6b6b6;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 11px;
}
.team .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25%;
  left: 50%;
  gap: 2px;
  transform: translate(-50%, 0);
  /*7 ================== варіант 1 ===================== */
  /* z-index: -5; */
  /*7 ================== варіант 2 ===================== */
  /* display: none; */
  /*7 ================== варіант 3 ===================== */
  /* overflow: hidden; */
  /* left: -270px; */
  /*7 ================== варіант 4 ===================== */
  /* opacity: 0; */
  /*7 ================== варіант 5 ===================== */
  visibility: hidden;
}
.team .social-item {
  padding: 15px;
  background-color: #fce38a;
  /* border-radius: 50%; */
}
.team .social-item:hover {
  background-color: #95e1d3;
}
.team .social-link {
  display: block;
  margin: 0;
}
.team .social-svg {
  fill: #f38181;
}
@media screen and (min-width: 768px) {
  .team .team-list {
    flex-direction: row;
  }
}
.about > button {
  color: black;
}

.page-works .works-title {
  text-align: center;
  font-family: "Kaushan Script";
  font-size: 36px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}
.page-works .works-subtitle {
  text-align: center;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 40px;
}
.page-works .responsive-img .res-img {
  margin: 0 auto;
}
.page-works .responsive-bg {
  margin-top: 30px;
}
.page-works .responsive-bg .bg-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: #c32f2f;
  background-image: url("../../img/завантаження.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}