@use "base/reset";
@use "base/container";

@use "components/modal-menu";
@use "components/modals";

@use "layout/header";
@use "layout/footer";
@use "layout/work";
@use "layout/team";

@use "pages/about";
@use "pages/services";
@use "pages/works";
