@use "../base/colors";
@use "../utils/plaseholder";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.copyright {
}
.copyright-span {
}
.footer-form {
  display: flex;
  height: 39px;
}
.footer-form label {
  display: flex;
}

input[placeholder="Your Email..."] {
  padding-left: 10px;
  color: #b6b6b6;
  /* text-align: center; */
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  border-color: #b6b6b6;
  border-right: none;
  appearance: auto;
  outline: none;
}
.footer-btn {
  @extend %btn;
  // background-color: #95e1d3;
  //   color: #fff;
  //   text-align: center;
  //   font-size: 14px;
  //   font-weight: 700;
  //   font-variant: all-small-caps;
  //   padding: 12px 38px;
  //   border: none;
}
