@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins" as m;

.header {
  @include m.flex-center(center);

  margin-bottom: 35px;
  .header-logo {
    color: colors.$color-logo;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  .nav {
    display: none;
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    .nav {
      display: flex;
    }
    .nav-list {
      display: flex;
      column-gap: 25px;

      font-size: 14px;
      font-weight: 400;
      color: colors.$color-nav;
    }
  }
  @media screen and (min-width: 1200px) {
  }
}

// .header {
// display: flex;
// justify-content: space-between;
// align-items: center;

//   padding: 17px 0;
//   margin-bottom: 68px;
// }

// .header-logo {
//   color: colors.$color-logo;
//   font-size: 30px;
//   font-weight: 700;
// }

// // .nav {
// // }
// .nav-list {
//   display: flex;
//   column-gap: 55px;

//   font-size: 14px;
//   font-weight: 400;
//   color: colors.$color-nav;
// }
// /* .nav-item {
//   margin-right: 55px;
// }
// .nav-item:last-child {
//   margin-right: 0;
// } */

// /* .nav-item:not(:last-child) {
//   margin-right: 55px;
// } */

// .nav-link {
// }

// .nav-item:hover {
//   color: colors.$color-active;
// }

// .active::after {
//   content: "";
//   display: block;
//   height: 4px;
//   width: 100%;
//   margin-top: 10px;
//   background-color: colors.$color-active;
//   border-radius: 30px;
// }
