$color-logo: #95e1d3;
$color-title: #333333;
$color-nav: #95e1d3;
$color-text: #b6b6b6;
$color-active: #f38181;
$color-bg: #ffffff;
$color-copywrite: #000000;
$color-image-subtext-bg: #2f303a8f;
$color-image-subtext: #ffffff;
$color-modals-bg: #ffffff;
$color-backdrop-bg: #000000b8;
$color-bg-gradient-1: #ef8b8acc;
$color-bg-gradient-2: #e5cf82cc;
