.container {
  width: 320px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
// .container {
//   width: 1440px;
//   margin: 0 auto;

//   @media screen and (max-width: 1200px) {
//     width: 1200px;
//   }
//   @media screen and (max-width: 768px) {
//     width: 768px;
//   }
//   @media screen and (max-width: 480px) {
//     width: 320px;
//   }
// }
