// @use "../base/container";
@use "../base/typography" as t;
@use "../base/colors" as c;

.page-works {
  .works-title {
    text-align: center;
    font-family: t.$font-family-heading;
    font-size: 36px;
    font-weight: 700;
    color: c.$color-title;
    margin-bottom: 20px;
  }
  .works-subtitle {
    text-align: center;
    font-family: t.$font-family-heading;
    font-size: 24px;
    font-weight: 400;
    color: c.$color-title;
    margin-bottom: 40px;
  }
  //   ================== responsive image  =====================
  .responsive-img {
    .res-img {
      //   width: 100%;
      //   height: auto;
      margin: 0 auto;
    }
  }

  //   ================== responsive background-image  =====================
  .responsive-bg {
    margin-top: 30px;
    .bg-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 350px;

      background-color: #c32f2f;
      background-image: url("../../img/завантаження.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 60px;
    }
  }
}
