%btn {
  display: flex;
  background-color: #95e1d3;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-variant: all-small-caps;
  padding: 12px 38px;
  border: none;
  margin: 0 auto;
}

%button {
  background-color: #fff;
}
