@use "../base/colors";

%btn {
  display: flex;
  background-color: #95e1d3;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-variant: all-small-caps;
  padding: 12px 38px;
  border: none;
  margin: 0 auto;
}

%button {
  background-color: #fff;
}

%modal {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: colors.$color-backdrop-bg;
    opacity: 1;
    transition: opacity 600ms cubic-bezier(0.83, -0.08, 0.32, 1) 300ms,
      visibility 600ms cubic-bezier(0.83, -0.08, 0.32, 1) 300ms;

    /* display: flex;
  justify-content: center;
  align-items: center; */

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    /* width: 70%;
  height: 70%; */

    transform: translate(-50%, -50%);

    padding: 15px;
    background-color: colors.$color-modals-bg;
    transition: opacity 500ms linear 1000ms;
  }
}
